DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/dbname?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://user:password@host.region.aws.neon.tech/dbname?sslmode=require"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="genera-uno-con: openssl rand -base64 32"
